@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --preto-espacial: #2b2d42ff;
    --cinza-fosco: #8d99aeff;
    --anteluz-white: #edf2f4ff;
    --vermelho-pantano: #ef233cff;
    --fogo-motor-vermelho: #d90429ff;
    --fonte-titulo: "Protest Guerrilla", sans-serif;
    --fonte-texto: "Kanit", sans-serif;
}

body{
    background-color: var(--preto-espacial);
    font-family: var(--fonte-texto);
    color: var(--fogo-motor-vermelho);
    height: 100vh;
}

header{
    background-color: var(--anteluz-white);
    text-align: center;
}

h1{
    font-family: var(--fonte-titulo);
    font-size: 3rem;
    color: var(--cinza-fosco);
    padding: 1.5rem 0;
}

main{
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a{
    text-decoration: none;
    color: var(--fogo-motor-vermelho);
    font-size: 2rem;
    margin: 0 2rem 1rem 0;
}